{% extends "catalogue/base.html" %}

{% block title %}Delete Playlist{% endblock %}

{% block content %}
    <h1>Delete Playlist</h1>
    <p>Are you sure you want to delete the playlist "{{ playlist.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-sm btn-outline-danger" type="submit"><i class="bi bi-trash3"></i> Confirm Delete</button>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'playlist_detail' uuid=playlist.uuid %}"><i class="bi bi-arrow-left-circle"></i> Cancel</a>
    </form>
{% endblock %}